@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.my-name {
  color: #ffd166;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch {
  position: relative;
  z-index: -5;
  bottom: 4em;
  height: 4em;
}

.about-wrapper {
  padding-top: 5em;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.about-wrapper p {
  padding: 1em;
  width: 65%;
  margin: auto;
  font-size: 1.7em;
}
@media only screen and (min-width: 440px) {
  .about-wrapper p {
    font-size: 2em;
  }
}
@media only screen and (min-width: 640px) {
  .about-wrapper p {
    font-size: 2.4em;
  }
}

footer {
  position: relative;
  margin-top: -30vh;
  height: 130vh;
  background: #eb455f;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.container {
  padding-top: 30vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

a {
  text-decoration: none;
}

.item {
  padding: 1em;
  transition: 0.4s;
}
.item img {
  width: 2.5em;
}
.item p {
  font-size: 0.6em;
  text-align: center;
  color: white;
  opacity: 0;
}
.item:hover p {
  opacity: 1;
}

@media only screen and (min-width: 640px) {
  .container {
    gap: 2em;
  }

  .item {
    padding: 1.3em 2em;
  }
  .item img {
    width: 4em;
  }
  .item p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 940px) {
  .container {
    gap: 5em;
  }

  .item {
    padding: 1.3em 2em;
  }
  .item img {
    width: 5em;
  }
  .item p {
    font-size: 1.1em;
  }
}
.email:hover {
  background-color: #d93737;
}

.twitter:hover {
  background-color: #1c9dec;
}

.facebook:hover {
  background-color: #0072b1;
}

.github:hover {
  background-color: #666666;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 0 auto;
  padding-bottom: 200px;
}

.card-container {
  display: block;
  flex-basis: 100%;
  max-width: 720px;
}

@media only screen and (min-width: 640px) {
  .card-container {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 960px) {
  .card-container {
    flex-basis: 33%;
  }
}
.bg-image {
  width: 99%;
  padding-top: 56.25%;
  margin: 1% auto 0;
  background-size: cover;
  position: relative;
}

.bg-image img {
  position: absolute;
  /* 2 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-contents {
  position: absolute;
  /* 2 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  background: #eb455ef8;
  transition: 0.2s ease-in;
}

.card-contents:hover {
  opacity: 1;
}

.card-texts {
  height: auto;
  padding: 2.5em;
  color: #eef7f2;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  position: relative;
  font-size: 1.1em;
  padding: 2%;
  display: table;
  animation: shake 25s ease-in infinite;
}

.card-content {
  font-size: 1em;
  padding: 2%;
  margin-top: -0.2em;
  display: table;
  z-index: 2;
  animation: shake 52s ease-in infinite;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #222;
  box-sizing: border-box;
  height: 100vh;
}

.hide {
  animation: fadein 5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */